@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color1: #2196F3;
  --accent-color2: #FFFFFF;
  --background-color: #FFFFFF;
  --other-background-color: #F5F4FA;
  --background: #2F303A;
  --blue-background: #2196F3;
  --items: 3;
  /* кількість карток в рядку */
  --indent: 30px;
  /* відступи між картками */
  --color-icon: #AFB1B8;
  --primary-bg-color: #E5E5E5;
  --transform-1: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 462px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.lists-c,
.lists-d,
.lists-e {
  list-style: none;
  padding-left: 0;
  display: block;
  margin: 0;
}

.lists-f {
  list-style: none;
  display: block;
  margin: 0;
}

.lists-c,
.lists-e {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Сіра лінія в хедері */
.header {
  border-bottom: 1px solid #ECECEC;
}

/* Логотип хедера */
.logo-header {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/*посилання*/
.menu {
  list-style: none;
  padding-left: 0;
  display: block;
  margin: 0;
  /* Підкреслення під поточною сторінкою */
}
.menu__studio, .menu__portfolio, .menu__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  display: inline-block;
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
}
.menu__studio--current, .menu__portfolio--current {
  color: var(--accent-color1);
}
.menu__studio:focus, .menu__portfolio:focus, .menu__contacts:focus, .menu__studio:hover, .menu__portfolio:hover, .menu__contacts:hover {
  color: var(--accent-color1);
}
.menu__studio, .menu__portfolio, .menu__contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__studio, .menu__portfolio, .menu__contacts {
  position: relative;
}
.menu__studio--is-active, .menu__portfolio--is-active, .menu__contacts--is-active {
  color: var(--blue-background);
}
.menu__studio--is-active::after, .menu__portfolio--is-active::after, .menu__contacts--is-active::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--blue-background);
}

.blue,
.contact__mail:focus,
.contact__tel:focus {
  color: var(--accent-color1);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact li:not(:last-child) {
  margin-right: 30px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 93px;
  padding: 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.contact__mail, .contact__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
}
.contact__icon {
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
}
.contact__mail:hover, .contact__tel:hover {
  color: #2196F3;
}
.contact__mail:hover .contact__icon, .contact__tel:hover .contact__icon {
  fill: var(--blue-background);
}
.contact__mail:focus, .contact__tel:focus {
  color: #2196F3;
}
.contact__mail:focus .contact__icon, .contact__tel:focus .contact__icon {
  fill: var(--blue-background);
}

.header__container,
.navigation,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  position: relative;
}

/*  */
.contacts__item {
  position: relative;
}

.list-adress {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-hero {
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/mobil/mobil-hero-480@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobil/mobil-hero-480@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .background-hero {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/mobile/mobil-hero-480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/mobil-hero-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/tablet/tablet-hero-768@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/tablet-hero-768@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/tablet/tablet-hero-768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/tablet-hero-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .background-hero {
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/desktop/desktop-hero-1200@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/desktop-hero-1200@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/desktop/desktop-hero-1200@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/desktop-hero-1200@2x.jpg);
  }
}
/* Hero button */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color2);
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.hero__button {
  background: var(--blue-background);
  color: var(--accent-color2);
  border-color: transparent;
  display: inline-block;
  text-transform: none;
  padding: 10px 32px;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  color: var(--accent-color2);
  background-color: var(--blue-background);
  outline: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Опис переваг */
.description {
  padding-top: 94px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lists-a {
  list-style: none;
  padding-left: 0;
  display: block;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lists-a__plate::before, .lists-a__clock::before, .lists-a__diagram::before, .lists-a__astronaut::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--other-background-color);
}
.lists-a__plate::before {
  background-image: url(../images/hw/original.svg/plate1.svg);
}
.lists-a__clock::before {
  background-image: url(../images/hw/original.svg/clock2.svg);
}
.lists-a__diagram::before {
  background-image: url(../images/hw/original.svg/diagram3.svg);
}
.lists-a__astronaut::before {
  background-image: url(../images/hw/original.svg/astronaut4.svg);
}
.lists-a__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  margin-top: 30px;
  width: 270px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .lists-a__title {
    width: 100%;
  }
}
.lists-a__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  width: 270px;
}
@media screen and (max-width: 767px) {
  .lists-a__paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .doing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .doing {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.doing__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .doing__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.photos__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .photos {
    display: none;
  }
}
.photos__list {
  display: -webkit-box;
  display: -ms-flexbox;
}

.photos__item {
  width: calc((100% - 60px) / 3);
  background-color: #757575;
}

.photos__item:not(:last-child) {
  margin-right: 30px;
}

.photos__thumb {
  position: relative;
}

.photos__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.ourteam {
  background: var(--other-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.ourteam__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.employee-and-position {
  padding-top: 30px;
  padding-bottom: 30px;
}
.employee-and-position__name, .employee-and-position__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.employee-and-position__name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-text-color);
}
.employee-and-position__position {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

.team__photo {
  width: 100%;
}

.team__item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}
.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}
.network__employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.network__employee:not(:last-child) {
  margin-right: 10px;
}

.instagram,
.twitter,
.facebook,
.linkedin {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill, background-color var(--transform-1);
  transition: fill, background-color var(--transform-1);
}
.instagram:hover, .instagram:hover, .instagram:hover, .instagram:hover,
.twitter:hover,
.twitter:hover,
.twitter:hover,
.twitter:hover,
.facebook:hover,
.facebook:hover,
.facebook:hover,
.facebook:hover,
.linkedin:hover,
.linkedin:hover,
.linkedin:hover,
.linkedin:hover {
  background-color: var(--blue-background);
}
.instagram:focus, .instagram:focus, .instagram:focus, .instagram:focus,
.twitter:focus,
.twitter:focus,
.twitter:focus,
.twitter:focus,
.facebook:focus,
.facebook:focus,
.facebook:focus,
.facebook:focus,
.linkedin:focus,
.linkedin:focus,
.linkedin:focus,
.linkedin:focus {
  background-color: var(--blue-background);
}
.instagram:hover .svg-instagram, .instagram:hover .svg-twitter, .instagram:hover .svg-facebook, .instagram:hover .svg-linkedin,
.twitter:hover .svg-instagram,
.twitter:hover .svg-twitter,
.twitter:hover .svg-facebook,
.twitter:hover .svg-linkedin,
.facebook:hover .svg-instagram,
.facebook:hover .svg-twitter,
.facebook:hover .svg-facebook,
.facebook:hover .svg-linkedin,
.linkedin:hover .svg-instagram,
.linkedin:hover .svg-twitter,
.linkedin:hover .svg-facebook,
.linkedin:hover .svg-linkedin {
  fill: #FFFFFF;
}
.instagram:focus .svg-instagram, .instagram:focus .svg-twitter, .instagram:focus .svg-facebook, .instagram:focus .svg-linkedin,
.twitter:focus .svg-instagram,
.twitter:focus .svg-twitter,
.twitter:focus .svg-facebook,
.twitter:focus .svg-linkedin,
.facebook:focus .svg-instagram,
.facebook:focus .svg-twitter,
.facebook:focus .svg-facebook,
.facebook:focus .svg-linkedin,
.linkedin:focus .svg-instagram,
.linkedin:focus .svg-twitter,
.linkedin:focus .svg-facebook,
.linkedin:focus .svg-linkedin {
  fill: #FFFFFF;
}

.svg-instagram,
.svg-twitter,
.svg-facebook,
.svg-linkedin {
  fill: currentColor;
  fill: #AFB1B8;
}

@media screen and (max-width: 767px) {
  .lists-c li:not(:last-child) {
    margin-bottom: 30px;
  }
}
/* //////////////////////Клієнти//////////////////////////// */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
.customers__group1, .customers__group2, .customers__group3, .customers__group4, .customers__group5, .customers__group6 {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0;
  fill: var(--color-icon);
  -webkit-transition: fill var(--transform-1);
  transition: fill var(--transform-1);
}
.customers__group1:hover .svg-group1, .customers__group2:hover .svg-group2, .customers__group3:hover .svg-group3, .customers__group4:hover .svg-group4, .customers__group5:hover .svg-group5, .customers__group6:hover .svg-group6, .customers__group1:focus .svg-group1, .customers__group2:focus .svg-group2, .customers__group3:focus .svg-group3, .customers__group4:focus .svg-group4, .customers__group5:focus .svg-group5, .customers__group6:focus .svg-group6 {
  fill: var(--blue-background);
}
.customers__group1:hover, .customers__group2:hover, .customers__group3:hover, .customers__group4:hover, .customers__group5:hover, .customers__group6:hover, .customers__group1:focus, .customers__group2:focus, .customers__group3:focus, .customers__group4:focus, .customers__group5:focus, .customers__group6:focus {
  border: 1px solid var(--blue-background);
}

@media screen and (min-width: 768px) {
  .lists-e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1140px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .customers__item:not(:last-child) {
    margin: 15px;
  }
}

.footer {
  max-height: 252px;
  background: var(--background);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer {
    max-height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .fist-footer-div,
.second-footer-div,
.footer-form,
.lists-f {
    margin-bottom: 60px;
    text-align: center;
  }
}
.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
}

.lists-d {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.lists-d__item:not(:last-child) {
  margin-bottom: 9px;
}
.lists-d__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color2);
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
}
.lists-d__address:hover, .lists-d__address:focus, .lists-d__mail:hover, .lists-d__mail:focus, .lists-d__tel:hover, .lists-d__tel:focus {
  color: var(--accent-color1);
}
.lists-d__mail, .lists-d__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
}

.white {
  color: var(--accent-color2);
}

.address {
  font-style: normal;
}

.second-footer-div {
  margin-left: 70px;
  margin-right: 93px;
}
.second-footer-div__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color2);
  margin-bottom: 20px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
}
.footer-form__fild {
  margin-bottom: 0px;
}
.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color2);
  margin-bottom: 20px;
}
.footer-form__subscribe {
  width: 358px;
  height: 50px;
  background-color: var(--background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-right: 5px;
  padding-left: 16px;
  color: var(--accent-color2);
  -webkit-transition: border var(--transform-1);
  transition: border var(--transform-1);
  margin-bottom: 20px;
}
.footer-form__subscribe:focus {
  -webkit-transition: border var(--transform-1);
  transition: border var(--transform-1);
}
.footer-form__subscribe::-webkit-input-placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__subscribe::-moz-placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__subscribe:-ms-input-placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__subscribe::-ms-input-placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__subscribe::placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.lists-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
}
.lists-f__list {
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
}
.lists-f__list:hover {
  fill: var(--blue-background);
}
.lists-f__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transform-1);
  transition: background-color var(--transform-1);
}
.lists-f__instagram-white, .lists-f__twitter-white, .lists-f__facebook-white, .lists-f__linkedin-white {
  fill: var(--accent-color2);
}
.lists-f__list:not(:last-child) {
  margin-right: 10px;
}
.lists-f__link:hover {
  background-color: var(--blue-background);
}
.lists-f__link:focus {
  background-color: var(--blue-background);
}

.footer-form__button {
  position: relative;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color1);
  color: var(--accent-color2);
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer-form__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--background-color);
}

/* Список кнопок в портфоліо*/
.buttons-portfolio {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .buttons-portfolio {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.buttons-portfolio__all, .buttons-portfolio__web, .buttons-portfolio__applications, .buttons-portfolio__design, .buttons-portfolio__marketing {
  border: none;
  background: var(--other-background-color);
  cursor: pointer;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-transform: none;
  padding: 6px 22px;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--transform-1);
  transition: background-color var(--transform-1);
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
}
.buttons-portfolio__all:hover, .buttons-portfolio__all:focus, .buttons-portfolio__web:hover, .buttons-portfolio__web:focus, .buttons-portfolio__applications:hover, .buttons-portfolio__applications:focus, .buttons-portfolio__design:hover, .buttons-portfolio__design:focus, .buttons-portfolio__marketing:hover, .buttons-portfolio__marketing:focus {
  background-color: var(--blue-background);
  border-color: transparent;
  color: var(--accent-color2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttons-portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .buttons-portfolio__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .buttons-portfolio__item:not(:last-child) {
    margin-right: 8px;
  }
}
.options {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Сітка з flex-box */
.icon {
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 50px;
  padding-left: 0;
}
.icon__a-сard {
  color: inherit;
}
.icon__element {
  position: relative;
  -webkit-transition: color var(--transform-1);
  transition: color var(--transform-1);
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}
.icon__a-сard {
  text-decoration: none;
}
.icon__element:nth-child(n+7) {
  margin-bottom: 0px;
}
.icon__element:nth-child(3n+1) {
  margin-left: 0px;
}
.icon__element:nth-child(3n) {
  margin-right: 0px;
}
.icon__element:nth-child(-n+3) {
  margin-top: 0px;
}
.icon__element:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.icon__a-сard:hover .surfacing__div, .icon__a-сard:focus .surfacing__div {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.surfacing {
  position: relative;
  overflow: hidden;
}
.surfacing__img {
  display: block;
}
.surfacing__div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--transform-1);
  transition: -webkit-transform var(--transform-1);
  transition: transform var(--transform-1);
  transition: transform var(--transform-1), -webkit-transform var(--transform-1);
}
.surfacing__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.about-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.about-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0px 0px 4px 0px;
  padding-left: 24px;
  padding-right: 24px;
}
.about-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0px;
  padding-left: 24px;
  padding-right: 24px;
}

/* ////////////////Модальне вікно/////////////////////////// */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.44, 1.09, 1, 0.33), visibility 250ms cubic-bezier(0.44, 1.09, 1, 0.33);
  transition: opacity 250ms cubic-bezier(0.44, 1.09, 1, 0.33), visibility 250ms cubic-bezier(0.44, 1.09, 1, 0.33);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  min-width: 480px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  fill: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--transform-1);
  transition: fill var(--transform-1);
}
.close:hover, .close:focus {
  fill: var(--accent-color1);
}

.modal-form {
  display: block;
}

.title-modal {
  font-size: 20px;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
  display: inline;
}
@media screen and (max-width: 767px) {
  .title-modal {
    display: block;
  }
}

.label-title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-fild {
  margin-bottom: 10px;
}

.modal-position-icon {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transform-1);
  transition: fill var(--transform-1);
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--transform-1);
  transition: border var(--transform-1);
  cursor: pointer;
}
.form-input:focus-within + .modal-icon {
  fill: var(--accent-color1);
  cursor: pointer;
}
.form-input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color1);
  border-radius: 4px;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.label-title-comment {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.label-comment {
  display: block;
  margin-bottom: 20px;
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--transform-1);
  transition: border var(--transform-1);
}
.comment:focus-within {
  outline: none;
  border: 1px solid var(--accent-color1);
  border-radius: 4px;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.checkbox-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  margin-right: 4px;
  -webkit-transition: background-color var(--transform-1), outline var(--transform-1);
  transition: background-color var(--transform-1), outline var(--transform-1);
}

.form-accept:checked + .checkbox-icon {
  background-color: var(--accent-color1);
  outline: 2px solid var(--accent-color1);
  outline-offset: -2px;
}

.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px 10px 55px;
  font-weight: 700;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color2);
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.contract {
  color: var(--accent-color1);
}

.mobile-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.mobile-button .icon-cross {
  display: none;
}

.mobile-button.is-open .icon-cross {
  display: block;
}

.mobile-button.is-open .icon-menu {
  display: none;
}

.mobile-button:hover .mobile-button__icon,
.mobile-button:focus .mobile-button__icon,
.mobile-button:active .mobile-button__icon {
  fill: #2196f3;
}

@media screen and (max-width: 768px) {
  .menu,
.contact {
    display: inline-block;
  }
  .list {
    margin: 0px;
    padding: 0;
  }
  .contact__icon {
    display: none;
  }
  .menu {
    margin: 60px 0px 60px 0px;
  }
  .contact li:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .navigation {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contact__mail,
.contact__tel {
    padding: 0;
  }
  .menu__item,
.contacts__item {
    margin-left: 40px;
  }
  .contact {
    margin-top: 60px;
  }
  .list .menu__item {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}
@media screen and (max-width: 768px) {
  .menu__studio,
.menu__portfolio,
.menu__contacts {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
  }
  .menu__studio--is-active,
.menu__portfolio--is-active,
.menu__contacts--is-active {
    position: static;
  }
}
@media screen and (min-width: 768px) {
  .menu__studio,
.menu__portfolio,
.menu__contacts {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 767px) {
  .contact__mail,
.contact__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__mail {
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__phone {
    margin-right: 8px;
  }
}/*# sourceMappingURL=main.css.map */