

/* Сіра лінія в хедері */
.header {
    border-bottom: 1px solid #ECECEC

}

/* Логотип хедера */
.logo-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/*посилання*/
.menu {
    list-style: none;
    padding-left: 0;
    display: block;
    margin: 0;

    &__studio,
    &__portfolio,
    &__contacts {
        // position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        text-decoration: none;
        display: inline-block;

        transition: color var(--transform-1);
    }

    &__studio--current,
    &__portfolio--current {
        color: var(--accent-color1);

    }

    &__studio:focus,
    &__portfolio:focus,
    &__contacts:focus,
    &__studio:hover,
    &__portfolio:hover,
    &__contacts:hover {
        color: var(--accent-color1);

    }

    &__studio,
    &__portfolio,
    &__contacts {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

    }

    /* Підкреслення під поточною сторінкою */
    &__studio,
    &__portfolio,
    &__contacts {
        position: relative;
    }

    &__studio--is-active,
    &__portfolio--is-active,
    &__contacts--is-active {
        color: var(--blue-background);
    }

    &__studio--is-active::after,
    &__portfolio--is-active::after,
    &__contacts--is-active::after {
        position: absolute;
        content: "";
        bottom: -1px;
        left: 0;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: var(--blue-background);
    }
}

// 

.blue,
.contact__mail:focus,
.contact__tel:focus {
    color: var(--accent-color1);
}


.menu__item:not(:last-child) {
    margin-right: 50px;
}

.contact li:not(:last-child) {
    margin-right: 30px;
}

.list {
    display: flex;
    margin: 0px 0px 0px 93px;
    padding: 0;
}


// Контакти в хедері
.contact {
    display: flex;
    margin-left: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;

    &__mail,
    &__tel {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--primary-text-color);
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color var(--transform-1);
    }

    &__icon {
        vertical-align: middle;
        fill: currentColor;
        margin-right: 10px;

        transition: color var(--transform-1);
    }


    &__mail:hover,
    &__tel:hover {
        color: #2196F3;

    }

    &__mail:hover .contact__icon,
    &__tel:hover .contact__icon {
        fill: var(--blue-background);

    }

    &__mail:focus,
    &__tel:focus {
        color: #2196F3;

    }

    &__mail:focus .contact__icon,
    &__tel:focus .contact__icon {
        fill: var(--blue-background);

    }
}

.header__container,
.navigation,
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container {
    position: relative;
    // width: 100%;
}

/*  */
.contacts__item {
    position: relative;
}



.list-adress {
    align-items: center;
}