
// Наша команда

.ourteam {
    background: var(--other-background-color);
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--title-text-color);
            margin-top: 0px;
            margin-bottom: 50px;
        }
}

.employee-and-position {
    padding-top: 30px;
    padding-bottom: 30px;

        &__name,
        &__position {
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
        }
    
        &__name {
            margin-top: 0px;
            margin-bottom: 10px;
            font-weight: 500;
            color: var(--title-text-color);
        }
    
        &__position {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 400;
        }
}

// .lists-c {
//     margin-top: 0px;

//     &__igor,
//     &__olga,
//     &__nicholas,
//     &__michael {
//         width: 270px;
//         background: var(--background-color);
//         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//         border-radius: 0px 0px 4px 4px;
    
// @media screen and (max-width: 767px) {
//         width: 100%;
//         }
//     }
// }
// 

.team__photo{
    width: 100%;
}

.team__item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;

}

@media screen and (max-width: 767px) {
    .team__item:not(:last-child) {
        margin-bottom: 30px
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team__item {
        width: calc((100% - 1 * 30px) / 2)
    }

    .team__item:not(:nth-last-child(-n+2)) {
        margin-bottom: 30px
    }

    .team__item:not(:nth-child(2n)) {
        margin-right: 30px
    }
}

@media screen and (min-width: 1200px) {
    .team__item:not(:last-child) {
        margin-right: 30px
    }
}



// 
.network {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    // align-items: center; 1200
    justify-content: center;
    margin-top: 16px;

    &__employee {
            display: flex;
        }
    
    &__employee:not(:last-child) {
        margin-right: 10px;
        }
}

// кнопки соціальних мереж в "Наша команда"
.instagram,
.twitter,
.facebook,
.linkedin {
    display: inline-block;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: fill, background-color var(--transform-1);

    &:hover,
    &:hover,
    &:hover,
    &:hover {
        background-color: var(--blue-background);

    }

    &:focus,
    &:focus,
    &:focus,
    &:focus {
        background-color: var(--blue-background);

    }

    &:hover .svg-instagram,
    &:hover .svg-twitter,
    &:hover .svg-facebook,
    &:hover .svg-linkedin {
        fill: #FFFFFF;

    }

    &:focus .svg-instagram,
    &:focus .svg-twitter,
    &:focus .svg-facebook,
    &:focus .svg-linkedin {
        fill: #FFFFFF;

    }
}

.svg-instagram,
.svg-twitter,
.svg-facebook,
.svg-linkedin {
    fill: currentColor;
    fill: #AFB1B8;
}

@media screen and (max-width: 767px){
.lists-c li:not(:last-child) {
    margin-bottom: 30px;
}
}